@inherits LayoutComponentBase

<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>

<header class="fixed-top py-0">
    <div name="DivBanner" class="Banner">
        <table class="table borderless">
            <tr>
                <td>
                    <img src="/images/OnyxWork-WebIcon.png" height="57" width="263" title="Onyx@Work Logo" alt="Onyx@Work Logo" />
                </td>
            </tr>
        </table>
    </div>
</header>

