@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs

    <div class="container w-25 align-self-center border rounded" style="height:300px;">
        <div class="row w-auto">
            <div class="col-sm-6 w-auto">
                <div class="panel panel-default w-auto">
                    <div class="panel-heading" style="height:65px;">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body w-auto">
                        <fieldset>
                            <div class="form-group margin:0 w-auto">
                                <input id="inputloginname" class="form-control" style="width:300px;" maxlength="100" placeholder="login name" autofocus>
                            </div>
                            <div class="form-group">
                                <input id="inputpasword" type="password" class="form-control" style="width:300px;" maxlength="15" placeholder="password" autocomplete="off">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code
{

}
