@inherits LayoutComponentBase

    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

    </style>

    <div class="container-fluid">

        <AppBaner />
                
        <div name="divBody" style="margin-top:100px;">
            @Body
        </div>
    </div>
